li{
    padding-top:5px;
}
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

.nav-style{
    list-style-type:none;
    display:flex;
    flex-direction:row;
    margin:0px;
    padding:10px;
}



#options {
    position: relative; /* Ensure the spark effect positions correctly */
    overflow: hidden; /* Hide any overflow from spark effect */
  }
  
  /* Styling the links */
  #options a {
    color: #FD8F8F;
    font-family: 'Poppins', sans-serif; /* Correct font-family */
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
    padding: 14px 16px;
    position: relative; /* Ensure the spark effect positions correctly */
    transition: color 0.3s;
  }
  
  /* Spark effect on hover */
  #options a:hover::before,
  #options a:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(circle, rgba(255,255,255,0) 20%, rgba(255,255,255,0.5) 80%);
    opacity: 0;
    pointer-events: none; /* Prevent interaction with the spark effect */
    animation: spark 1s ease-out forwards; /* Apply the animation */
  }
  
  /* Create spark effect */
  #options a:hover::before {
    transform: scale(1.2); /* Enlarge the spark */
  }
  
  @keyframes spark {
    0% {
      opacity: 1;
      transform: scale(0.5);
    }
    100% {
      opacity: 0;
      transform: scale(1.2);
    }
  }
  
  /* Hover effect for the links */
  .options a:hover {
    color: white;
  }
  
  
  .aImage img{
    margin:20px;
  }
  


    @media only screen and (max-width: 1000px) {
        .bar{
            display: block !important;
            text-align: right;
            padding-right:10px ;
        font-size: xx-large;
       

            

        }
        .bar:hover{
            cursor:pointer;
        }
        .nav-style{
            display: none !important;
            flex-direction: column !important;
        }
        .open{
         display: flex !important;
         flex-direction: row;
         width:100%;
         font-size: 1.5rem;
        }
        
        
        li{
            width:100% !important;
            display: block !important;
            margin:0px !important;
            top:0px !important;
           
        }
        .logo{
            display: none !important;
        }

        
    }













   
